.contact {
  padding: 2rem;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-card {
  perspective: 1000px;
}

.contact-card-content {
  background-color: #a5a1a1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 200rem;
  transform: rotateY(0deg);
  transition: transform 0.6s;
}

.contact-card:hover .contact-card-content {
  transform: rotateY(10deg);
}

.contact-card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a {
  color: #007bff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

