.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111;
    border-bottom: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav a {
    margin: 0 1rem;
    text-decoration: none; /* Corrige el valor de text-decoration */
    color: #fff;
  }
  
  .nav a:hover {
    color: #00f7ff;
  }

  .nav .active {
    font-weight: bold;
    color: #00f7ff;
  }


  