/* ProjectDetail.css */
.project-detail {
    display: flex;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  }
  
  .project-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el contenido */
    padding: 2rem;
    margin-left: 2rem; /* Desplaza el contenedor de imágenes hacia la derecha */
  }
  
  .project-title {
    font-size: 2rem;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el título */
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
  }
  
  .project-content {
    flex: 1;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el contenido */
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    color: #fff; /* Color del texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project-description {
    font-size: 1.2rem;
    margin: 1rem 0;
    white-space: pre-line; /* Para preservar los saltos de línea en la descripción */
    text-align: left; /* Alineación del texto a la izquierda */
  }
  
  .project-link {
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .project-link:hover {
    text-decoration: underline;
  }
  
  .demo-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1rem;
    margin-left: 2rem; /* Desplaza las imágenes hacia la derecha */
  }
  
  .demo-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Transición suave para el agrandamiento */
  }
  
  .demo-image:hover {
    transform: scale(1.5) translateX(20px); /* Agranda la imagen y la mueve hacia la derecha al pasar el cursor */
  }